:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    padding-top: 100px;
    padding-bottom: 18px;
    margin: auto;
    width: 50%;
}

#form {
    padding-top: 10px;
    padding-bottom: 125px;
    width: 75%;
    margin: auto;
}

#submitBtn {
    padding-top: 15px;
}

#btnSubmit {
    background-color: brown;
}