:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    height: 8vh;
    padding-right: 2vh;
    display: flex;
    justify-content: right;
    align-content: end;
}

.bg-nav {
    background-color:#283618 ;
    border: solid 5px #606C38;
}

a.nav-link {
    color: #FEFAE0;
}

.nav-tabs .nav-link.active {
    background-color: #DDA15E;
}

.nav-logo {
    height: 50px; /* Adjust size */
    margin-right: 60px; /* Space between logo and links */
  }