:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hero {
    width: 100%;
    height: 850px;
    border-bottom: solid 2px #606C38;
}

.projecttext {
    padding-top: 15px;
    margin: 10px;
    color: #DDA15E;
    text-align: center;
}

.card-body {
    background-color: #606C38;
}

.card-text {
    color:#FEFAE0;
}

a.btn {
    background-color: #BC6C28;
    border-color: #606C38;
    color:#DDA15E;
}

a.btn:hover {
    background-color: #FEFAE0;
    border-color: #606C38;
    color: #DDA15E;
}