:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hero {
    width: 100%;
    height: 850px;
    border-bottom: solid 2px black;
}

.projecttext {
    padding-top: 15px;
    margin: 10px;
    color: brown;
    text-align: center;
}

.card-body {
    background-color: black;
}

.card-text {
    color: rgb(255, 3, 142);
}

a.btn {
    background-color: #0489a0;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 208, 0);
}

a.btn:hover {
    background-color: #0489a0;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 208, 0);
}